@charset "utf-8";
 @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.background{
  background-image: linear-gradient(180deg, #c7f7c6, #6c9e72);
}
.background .img {
    display: table;
    width: 100%;
    height: 100%;
    background-position: 30% 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .background p{
    color: rgb(0, 0, 0); text-shadow: 0 0 0.2em rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20pt;
    }

  .background h2{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
  }  
  
  .background input{
    margin-top: 69px;
    width: 30%!important;
    cursor: pointer;  
    background: #1ebb26;
    padding: 8px 5px;
    color: #fff;
    font-size: 20pt;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 2px 1px #333;
   font-size: 20pt;
   -webkit-transition: color .25s ease-in-out;
   -o-transition: color .25s ease-in-out;
   transition: color .25s ease-in-out;
  }
  .background input::after{
    background-color: #000;
    -webkit-transition: width .25s ease-in-out;
    -o-transition: width .25s ease-in-out;
    transition: width .25s ease-in-out;
  }

  .card-container {
    display: flex;
}

.imge {
    width: auto;
    height: auto;
    max-height: 250px; /* Aumentei a altura máxima */
    object-fit: cover;
}

.img1{
  margin-bottom: 10px;
}

.Card {
    height: 350px; /* Definindo uma altura fixa para o card */
    display: flex;
    flex-direction: column; /* Coloca o conteúdo em coluna: imagem em cima, corpo embaixo */
}

.Card.Body {
    flex: 1; /* Faz com que o corpo ocupe todo o espaço restante depois da imagem */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empurra os itens para o final do container */
    overflow: hidden; /* Caso algum conteúdo exceda o espaço do card, ele ficará oculto */
    padding: 10px; /* Um pequeno padding para espaçamento interno */
}

.Card.Title {
    margin-bottom: 10px; /* Espaço entre*/
}

.imgCofre{
  width: 90%;
  margin-bottom: 50px;
  margin-left: 50px;
}

.imgGastos{
  width: 60%;
  margin-left: 250px;
}

.imgRenda{
  width: 80%;
}


.imgRelato{
  width: 60%;

}

.session-container {
  padding-left: 50px;  /* Adiciona espaçamento na borda esquerda */
  padding-right: 50px; /* Adiciona espaçamento na borda direita */
}



